# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=yamazitte

# Make this the same as your github username/organisation
REPO_ORGANIZATION="Yamatino"

IMAGE_DESC="Bazzite NVIDIA (open) with niri + Noctalia and Citrix Workspace"
IMAGE_KEYWORDS="bootc,oci,linux,bazzite,niri,noctalia,citrix"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/120078124?s=200&v=4"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
